@page "{id:int}"
@model hakimlivs.Pages.Orders.DetailsModel
@inject ApplicationDbContext database
@{
}

<div class="cart-page">
    <div class="cart-details">
      <h3>Orderinformation</h3>
        @foreach (var details in Model.OrderDetails)
        {
          <div class="cart-item">
            <img src=@details.Product.Image>
            <div class="cart-item-info">
                <h4>@details.Product.Name</h4>
                <p>Pris per st: @details.Product.Price</p>
                <p>Kategori: @details.Product.Category</p>
                <p>Antal: @details.Amount</p>
                @{
                    int amount = @details.Amount;
                    decimal price = @details.Product.Price;
                    decimal sum = amount * price;
                }
                <p>Summa: @sum</p>
            </div>
          </div>
        }

        @if (User.IsInRole("Admin"))
        {
            @if (Model.Index! < 0)
            {
                <form method="post">
                    <button type="submit" asp-route-id=@Model.Order.Id>Skriv ut</button>
                </form>
            }
            else
            {
                <h3>Ordern är redan en faktura</h3>
            }
        }
    </div>
</div>