@page
@model Products.IndexModel
@inject ApplicationDbContext database
@{
    ViewData["Title"] = "Home page";
}

<div class="main-menu-div">
    @if (User.IsInRole("Admin"))
    {
        <section class="main-menu">
            <h3>Adminpanel</h3>
            <a asp-area="" asp-page="/Products/Create">
                <div class="menu-button">
                    Lägg till produkter
                </div>
            </a>
            <a asp-area="" asp-page="/Products/Index">
                <div class="menu-button">
                    Ändra produkter
                </div>
            </a>
            <a asp-area="" asp-page="/Orders/Index">
                <div class="menu-button">
                    Ordrar
                </div>
            </a>
            <a asp-area="" asp-page="/Invoices/Index">
                <div class="menu-button">
                    Fakturor
                </div>
            </a>
            <a asp-area="" asp-page="/Admin/RoleManager/Index">
                <div class="menu-button">
                    Lägg till roller
                </div>
            </a>
            <a asp-area="" asp-page="/Admin/UserRoles/Index">
                <div class="menu-button">
                    Rollhantering
                </div>
            </a>
            <div class="login-area">
                <div class="login-card">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="main-menu">
            <h3>Kategorier</h3>
            @foreach (var category in database.Categories)
            {
                <div class="menu-button">
                    <form method="get">
                        <button type="submit" name="Filter" id="Filter"
                            value="@category.Name">@category.Name</button>
                    </form>
                </div>
            }
            <div class="login-area">
                <div class="login-card">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </section>
    }
</div>

<div class="product-div">
    @if (User.IsInRole("Basic"))
    {
        @foreach (var item in Model.Product)
        {
            <div class="product-item">
                <div class="product-img">
                    <img src=@item.Image>
                </div>
                <div class="product-item-main">
                    <p class="product-name">
                        @item.Name
                    </p>
                    <p class="product-description">
                        @item.Info
                    </p>
                </div>
                <div class="product-item-footer">
                    <p class="product-price">
                        @item.Price kr
                    </p>
                    <div class="add-to-cart">
                        <form method="post" asp-page-handler="add" onclick=showMessage(@item.Name)>
                            <button type="submit" name="Id" id="Id" value="@item.Id">
                                Lägg till
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        @foreach (var item in Model.Product)
        {
            <div class="product-item">
                <div class="product-img">
                    <img src=@item.Image>
                </div>
                <div class="product-item-main">
                    <p class="product-name">
                        @item.Name
                    </p>
                    <p class="product-description">
                        @item.Info
                    </p>
                </div>
                <div class="product-item-footer">
                    <p class="product-price"  style="width: 100%;">
                        @item.Price kr
                    </p>
                </div>
            </div>
        }
    }

</div>
